{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'confirmation.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Talash - Account Confirmation</title>
</head>
<body>
    <section class="confirm">
        <section class="confirmation1">
            <i class="fa fa-check-circle" style="font-size:88px;color:rgb(74, 143, 202);background-color: rgb(244, 252, 255);"></i>
            <h1>Account created successfully!</h1>
            <p>Please check your inbox, we have sent a confirmation email</p>
            <a href="/">Back to Home</a>
        </section>
    </section>
    
</body>
</html>