{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home2.css' %}">
    <link rel="stylesheet" href="{% static 'home_responsive2.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Talash</title>
</head>

<body>
    <header class="main_header topnav changable" id="myTopnav">
        <div class="header_left topnav_left color">
            <div class="header_left_1">
                <a class="own" href="/"><i class="fa fa-home fa-lg" style="color: white;"
                        aria-hidden="true"></i></a>
                <a href="/about" class="nav-link">About</a>
                <a href="/contact" class="nav-link">Contact Us</a>
                <a href="/login" class="nav-link">Login</a>
                <a href="/register" class="nav-link">Register</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="header_left_2">
                <p class="own"><i class="fa fa-phone fa-lg" style="color: white;" aria-hidden="true"></i> 03310206211
                </p>
                <p><i class="fa fa-envelope fa-lg" style="color: white;" aria-hidden="true"></i> hamzabtawan@gmail.com
                </p>
            </div>
        </div>
        <div class="header_right topnav_right" id="myTopnav2">
            <div>
                <a class="own" href="/"><i class="fa fa-home fa-lg" style="color: white;"
                    aria-hidden="true"></i></a>
                    <a href="/about" class="nav-link">About</a>
                    <a href="/contact" class="nav-link">Contact Us</a>
                    <a href="/login" class="nav-link">Login</a>
                    <a href="/register" class="nav-link">Register</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="section2">
        <div class="section2_left">
            <h2>Welcome To Talash</h2>
            <!-- <h1>Talash</h1> -->
            <p>Best and reliable service for missing persons</p>
            <!-- <p>for missing persons</p> -->
            <button><a href="/register">Get Started</a></button>
        </div>
        <div class="section2_right">

        </div>
    </div>
    <div class="section1">
        <!-- <div class="section1_left">
            <img src="talash_logo.png" alt="">
        </div> -->
        <div class="section1_right">
            <div class="section1_right_left">
                <div>
                    <i class="fa fa-phone fa-lg" style="color: white; font-size: 40px;" aria-hidden="true"></i>
                </div>
                <div>
                    <h3>Call Us:</h3>
                    <p>03310206211</p>
                </div>
            </div>
            <div class="section1_right_right">
                <div>
                    <i class="fa fa-clock-o fa-lg" style="color: white; font-size: 40px;" aria-hidden="true"></i>
                </div>
                <div>
                    <h3>Mon - Sat:</h3>
                    <p>9AM - 6PM</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section3">
        <h1>Penetrating missing persons as easier as ever</h1>
        <!-- <p>Look out for others better and faster</p> -->
        <div class="section3_top">
            <div class="section3_left">
                <div>
                    <i class="fa fa-globe" style="color: rgb(66, 66, 66); font-size: 3rem; margin-bottom: 10px;"></i>
                    <h3>Authentic</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                </div>
                <div>
                    <i class="fa fa-i-cursor fa-lg"
                        style="color: rgb(66, 66, 66); font-size: 3rem; margin-bottom: 10px;"></i>
                    <h3>Convenient</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="section3_middle">
                <div>
                    <i class="fa fa-map-marker fa-lg"
                        style="color: rgb(66, 66, 66); font-size: 3rem; margin-bottom: 10px;"></i>
                    <h3>Live Inquiry</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                </div>
                <div>
                    <i class="fa fa-map-marker fa-lg"
                        style="color: rgb(66, 66, 66); font-size: 3rem; margin-bottom: 10px;"></i>
                    <h3>Fast recovery</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="section3_right">
                <div>
                    <i class="fa fa-credit-card fa-lg"
                        style="color: rgb(66, 66, 66); font-size: 3rem; margin-bottom: 10px;"></i>
                    <h3>Easy Retention</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                </div>
                <div>
                    <i class="fa fa-credit-card fa-lg"
                        style="color: rgb(66, 66, 66); font-size: 3rem; margin-bottom: 10px;"></i>
                    <h3>Instant Search</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section8">
        <div class="section8_inner">
            <h3>Our Purpose</h3>
            <p id="justify">
                In the meantime, there is a need of computerization for mechanizing the errand of tracking down the
                specific individual by perceiving specific picture and contrasting that picture and other picture to
                check regardless of whether the two pictures has same qualities. By doing this we will come to know
                whether the missing individual in the picture clicked from specific area is right or not, and on the off
                chance that it is right then police can begin their subsequent stages to track down the individual from
                that area.
            </p>
        </div>
        <div class="section8_inner">
            <h3>Quick Links</h3>
            <p><a href="/privacy-policy">Privacy Policy</a></p>
            <p><a href="/terms-of-condition">Terms of Condition</a></p>
            <p><a href="/about">About</a></p>
            <p><a href="/contact">Contat Us</a></p>
            <div>
                <a href="https://web.facebook.com/" target="_blank"><i class="fa fa-facebook-square fa-lg" style="color: rgb(50, 141, 153);"
                        aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-lg" style="color: rgb(50, 141, 153);"
                        aria-hidden="true"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-lg" style="color: rgb(50, 141, 153);" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="section8_inner">
            <h3>Get Quick Response</h3>
            <p>Please submit your email to get our fast service briefings.</p>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <button type="submit">Submit</button>
        </div>
        <div class="section8_inner">
            <h3>Our Street Address</h3>
            <a href="https://goo.gl/maps/EQiaSbHUrWN9DukL8" target="_blank">Gulshan-E-Iqbal, Karachi</a>
            <p>Sir Syed University of Engineering and Technology</p>
            <a href="https://goo.gl/maps/1scGKzyEGwYnNPyq6" target="_blank">Malir Cantt, Karachi</a>
            <p>Cantt Bazaar, Malir Cantt</p>
        </div>

    </div>
    <footer class="footer">
        <p>Copyright © 2022 - All Rights Reserved - <a href="/">Talash</a></p>
    </footer>
    <script src="{% static 'home2.js' %}"></script>
</body>

</html>